footer
    section.grid-container-minus.cluster-footer
        address.col-3-2r1
          p Seginfo: Av. Joao de Barros 667 sl.302 - Aflitos
        section.col-4r1.align
          p Newsletter 
            input.newsletter(type='text' name='newsletter' width='500px')
            input(type='submit' value='Enviar')
        section.col-2r1.align
          p Acesso nosso feed de noticias 
            img.canvas-mini(src='images/rss.png')
        
        section.col-12r2
            p.align site powered by teste de stylus & pug By Cobalt0
          
        